# Virtual Environment
.venv/
venv/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb
!*.ipynb

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

















